{{#*inline "page"}}
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Recipe",
      "name": "{{ escape recipe.name }}",
      "datePublished": "{{ escape recipe.published }}",
      "recipeCategory": "{{ escape recipe.category }}",
      "recipeCuisine": "{{ escape recipe.cuisine }}",
{{#if recipe.images }}
      "image": [
      {{#each recipe.images as |image| }}
      {{#if (gt @index 0) }},{{/if}}"{{ url ../locale ../recipe.slug}}{{ lookup image 1 }}"
{{/each}}
      ],
{{/if ~}}
{{#if recipe.sd_cook_time ~}}
    "cookTime": "{{ recipe.sd_cook_time }}",
{{/if ~}}
{{#if recipe.sd_prep_time ~}}
    "prepTime": "{{ recipe.sd_prep_time }}",
{{/if ~}}
{{#if recipe.sd_total_time ~}}
    "totalTime": "{{ recipe.sd_total_time }}",
{{/if ~}}

{{#if recipe.description }}
      "description": "{{ escape recipe.description }}",
{{/if}}
{{#if recipe.ingredients}}
      "recipeIngredient": [
{{#each recipe.ingredients as |item| ~}}
        {{#if (gt @index 0) }},{{/if}}"{{~ escape item ~}}"
{{/each ~}}
      ],
{{/if}}
      "recipeInstructions": [
{{#each flat_steps as |step| ~}}
        {{#if (gt @index 0) }},{{/if}}{"@type": "HowToStep", "text": "{{~ escape step ~}}", "url": "{{ url ../locale ../recipe.slug}}#{{ fnv step }}"}
{{/each ~}}
      ]
      "keywords": "{{#each recipe.keywords as |kw| ~}}{{#if (gt @index 0) }},{{/if}}{{ kw }}{{/each ~}}",
    }
</script>

<h1 class="jump" id="{{ fnv recipe.name }}">{{ recipe.name }}</h1>

{{#if recipe.description }}
<p class="lead">{{ recipe.description }}</p>
{{/if}}

<ul class="list-inline" id="recipe-metadata">
    <li class="list-inline-item">Category: {{ recipe.category }}</li>
    <li class="list-inline-item">Cuisine: {{ recipe.cuisine }}</li>
    <li class="list-inline-item">Published: {{ recipe.published }}</li>
    {{#if recipe.total_time ~}}
    <li class="list-inline-item">Total: {{ recipe.total_time }}</li>
    {{#if recipe.prep_time ~}}
    <li class="list-inline-item">Prep: {{ recipe.prep_time }}</li>
    {{/if ~}}
    {{#if recipe.cook_time ~}}
    <li class="list-inline-item">Cook: {{ recipe.cook_time }}</li>
    {{/if ~}}
    {{/if ~}}
</ul>

{{#if recipe.keywords ~}}
<ul class="list-inline" id="keywords">
    <li class="list-inline-item"><strong>Keywords:</strong></li>
    {{#each recipe.keywords as |keyword| }}
    <li class="list-inline-item">{{ keyword }}</li>
    {{/each}}
</ul>
{{/if ~}}

{{#if recipe.images }}
<div class="row pt-3 pb-3 d-print-none">
    {{#each recipe.images as |image| }}
    <div class="col">
        <a href="{{ url ../locale ../recipe.slug}}{{ lookup image 1 }}">
            <img src="{{ url ../locale ../recipe.slug}}{{ lookup image 0 }}" class="img-thumbnail"
                alt="preview image of {{ escape ../recipe.name }}">
        </a>
    </div>
    {{/each}}
</div>
{{/if}}

{{#if recipe.ingredients}}
<div>
    <h1>Ingredients</h1>
    <ul>
        {{#each recipe.ingredients as |item| ~}}
        <li class="jump ingredient" id="{{ fnv item }}">
            {{~ item ~}}
        </li>
        {{/each ~}}
    </ul>
</div>
{{/if}}

{{#if recipe.equipment }}
<div>
    <h1>Equipment</h1>
    <ul>
        {{#each recipe.equipment as |item| ~}}
        <li class="jump ingredient" id="{{ fnv item }}">
            {{~ item ~}}
        </li>
        {{/each ~}}
    </ul>
</div>
{{/if}}

{{#each recipe.stages as |stage| ~}}
<h2 class="jump" id="{{ fnv stage.name }}">{{ stage.name }}</h2>


{{#if stage.description ~}}
<p class="description highlightable jump" id="{{ fnv stage.description }}">{{ stage.description }}</p>
{{/if ~}}
{{#if stage.total_time ~}}
<ul class="list-inline">
    <li class="list-inline-item">Total: {{ stage.total_time }}</li>
    {{#if stage.prep_time ~}}
    <li class="list-inline-item">Prep: {{ stage.prep_time }}</li>
    {{/if ~}}
    {{#if stage.cook_time ~}}
    <li class="list-inline-item">Cook: {{ stage.cook_time }}</li>
    {{/if ~}}
</ul>
{{/if ~}}

<ul class="steps">
    {{#each stage.steps as |step| ~}}
    <li>
        <p class="highlightable jump" id="{{ fnv step }}">{{ step }}</p>
    </li>
    {{/each ~}}
</ul>
{{#if stage.footer ~}}
<p class="footer highlightable jump" id="{{ fnv stage.footer }}">{{ stage.footer }}</p>
{{/if ~}}

{{/each ~}}

{{#if (gt (len recipe.alternate_locales) 1)}}
{{#with recipe.alternate_locales as |alternate_locales| ~}}
<div class="d-print-none">
    <p>Additional Locales:</p>
    <ul>
        {{#each alternate_locales as |alternate_locale| ~}}
        {{#if (ne (lookup alternate_locale 0) ../../locale) }}
        <li>
            <a href="/{{ lookup alternate_locale 0 }}/{{ lookup alternate_locale 1 }}">
                {{ lookup alternate_locale 0 }}
            </a>
        </li>
        {{/if}}
        {{/each ~}}
    </ul>
</div>
{{/with ~}}
{{/if}}
{{/inline}}
{{> root show_search=true site_section=locale }}